
.DS_Store

iris-example/.classpath

iris-example/.project

iris-example/.settings/org.eclipse.jdt.core.prefs

*.prefs


node_modules/*
examples/todo-list/packed/*
/nbproject/private/
sauce_connect.log*