
* {
	font-family: arial;
}

.btn {
	display: inline-block;
	border: 1px solid #026EA3;
	background: #009ADF;
	border-radius: 3px;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	align: center;	
	padding: 8px 6px;
}

.btn span {
	font-size: 0.8em;
	font-weight: bold;
	color: #FFFFFF;
	white-space:nowrap;
}

.selected {
	border: 4px solid #026EA3;
}

.validation-error {
	border: 1px solid #f00;
}

.checkbox {
	
}

.checkbox-icon {
	width:24px;
	height:24px;
	background: url("../pix/checkbox.png") 0 0;
	display: inline-block;
}

.checkbox-on {
	background-position: 24px 0;
}

.checkbox-off {
	background-position: 0 0;
}