
* {
	font-family: "Arial", sans-serif;
	color: #333;
}


a {
	color: #15C;
}

pre {
padding: 6px 10px;
background-color: #FAFAFA;
border: 1px solid #BBB;
overflow: auto;
font-family: Courier New, monospace;
line-height: 1.5;
}

code {
	font-family: Courier New, monospace;
}

.btn {
	display: inline-block;
	border: 1px solid #026EA3;
	background: #009ADF;
	border-radius: 3px;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	align: center;	
	padding: 8px 6px;
}

.btn span {
	font-size: 0.8em;
	font-weight: bold;
	color: #FFFFFF;
	white-space:nowrap;
}

.selected {
	border: 4px solid #026EA3;
}

.validation-error {
	border: 1px solid #f00;
}

.checkbox {
	
}

.checkbox-icon {
	width:24px;
	height:24px;
	background: url("../pix/checkbox.png") 0 0;
	display: inline-block;
}

.checkbox-on {
	background-position: 24px 0;
}

.checkbox-off {
	background-position: 0 0;
}

.menu {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}

.menu li {
	border-bottom: 1px solid #90bade;
	padding: 10px;
}

.menu li a {
	border-left: 10px solid #5ba3e0;
	text-decoration: none;
	padding-left: 10px;
}

.menu li a:hover {
	background-color: #2175bc;
	color: #fff;
}


.test {
	padding-bottom:10px;
	border-bottom: 1px solid #ccc;
}

.test span {
	color: green;
}