<div>

	<div data-id="test_div" data-bind="person.name"></div>

	<span data-id="test_span" data-bind="person.name"></span>

	<button data-id="test_button" data-bind="person.region.country"></button>

	<input data-id="test_input_text" data-bind="person.name" type="text" />
	<input data-id="test_input_hidden" data-bind="person.name" type="hidden" />
	<span data-id="test_format_currency" data-bind="person.money" data-format="currency"></span>
	
	<textarea data-id="test_textarea" data-bind="person.name"></textarea>

</div>
